<div class="profile_container">
  <h1>Your Profile</h1>
  
  Name: <%= @user.name %><br>
  Email: <%= @user.email %><br>
  Description: <%= @user.description %><br>
  
  <% if authorization?(@user.id) %>
  
    <a href="/logout"><button>Logout</button></a>
  
  <% end %>
  
  
  <h1>Your Questions</h1>
  
  <% @user.questions.each do |question| %>
    <ul>
      <li>Question: <%=question.title%></li>
      <li>Description: <%=question.question_text%></li>
    </ul>
  <% end %>
  <a href="/questions/new"><button>New Question</button></a>
  
</div>